.chats-circle {
  width: 20px;
  height: 20px;
  line-height: 20px;
}

.chats-time {
  padding-bottom: 5px;
}

.plus {
  position: relative;
}

.plus p {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: white;
  line-height: 10px;
  font-size: 18px;
  z-index: 99;
  top: 5px;
  right: -5px;
  border-radius: 50%;
}
